<link href="<%= ENV['RAILS_RELATIVE_URL_ROOT'] %>/openlayers/css/openlayers.examples.style.css" media="all" rel="stylesheet" type="text/css" />
<link href="<%= ENV['RAILS_RELATIVE_URL_ROOT'] %>/openlayers/css/openlayers.theme.style.css" media="all" rel="stylesheet" type="text/css" />

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#entidade_equipamento_tipo_id').on('change', function() {
        if ($(this).val() == 1)
        {
          $('#tipo_equipamento').hide();
          $('.control-group.atividade').show();
          $('#tombado').hide();
          $('#entidade_equipamento_tipo_natureza_id').find("[value='1'], [value='2'], [value='3']").hide().prop('disabled', true);
          $('#entidade_equipamento_tipo_natureza_id').find("[value='4'], [value='5'], [value='6'], [value='7'], [value='8']").show().prop('disabled', false);
        }
        else
        {
          if ($(this).val() == 2)
          {
            $('.control-group.atividade').hide();
            $('#tombado').show();
            $('#tipo_equipamento').show();
          }
          else
          {
            $('.control-group.atividade').show();
            $('#tombado').hide();
            $('#tipo_equipamento').hide();
          }

          $('#entidade_equipamento_tipo_natureza_id').find("[value='1'], [value='2'], [value='3']").show().prop('disabled', false);
          $('#entidade_equipamento_tipo_natureza_id').find("[value='4'], [value='5'], [value='6'], [value='7'], [value='8']").hide().prop('disabled', true);
        }
      });

      <% if params[:action] == 'new' %>
        $('#entidade_equipamento_tipo_id').val('1');
        $('#tipo_equipamento').hide();
        $('#tombado').hide();
        $('.control-group.atividade').show();
        $('#entidade_equipamento_tipo_natureza_id').find("[value='1'], [value='2'], [value='3']").hide().prop('disabled', true);
      <% end %>

      <% if params[:action] == 'edit' || params[:action] == 'create' || params[:action] == 'update' %>
        $('#tipo').hide();

        <% if @entidade_equipamento.tipo_id == 2 %>
          $('.control-group.atividade').hide();
          $('#tombado').show();
          $('#tipo_equipamento').show();
          $('#entidade_equipamento_tipo_natureza_id').find("[value='4'], [value='5'], [value='6'], [value='7'], [value='8']").hide().prop('disabled', true);
        <% else %>
          $('#tipo_equipamento').hide();
          $('.control-group.atividade').show();
          $('#tombado').hide();
          $('#entidade_equipamento_tipo_natureza_id').find("[value='1'], [value='2'], [value='3']").hide().prop('disabled', true);
        <% end %>
      <% end %>
    });

  </script>
<% end %>

<% if params[:action] != 'edit' %>
  <% if ! @entidade_equipamento.errors.any? %>
    <% @entidade_equipamento.entidade_equipamento_atividades.build %>
  <% end %>
<% end %>

<% if @entidade_equipamento.errors.any? %>
<div class="alert-message alert">
  <ul>
    <% @entidade_equipamento.errors.full_messages.each do |msg| %>
    <li>
      <strong><%= msg %></strong>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @entidade_equipamento, :html => { :class => 'form-horizontal' } do |f| %>

<% if params[:action] == 'edit' %>
  <% content_for :scripts do %>
    <script type="text/javascript">
        window.onload = initMapHelper;
    </script>
  <% end %>
<% end %>

<% if params[:action] == 'new' %>
  <%= f.fields_for :entidade_equipamento_atividades do |c| %>
    <div class="control-group atividade">
      <%= c.label :atividade_id, 'Categoria', :class => 'control-label' %>
      <div class="controls">
        <%= c.select( :atividade_id, @atividades.collect { |l| [l.nome, l.id] }, {:include_blank => 'Selecione'}  ) %>
        <%= c.hidden_field :ordem, :value => 1 %>
      </div>
    </div>
  <% end %>

<% else %>
  <%= f.fields_for :entidade_equipamento_atividades do |c| %>
    <div class="control-group atividade">
      <% label = 'Categoria'  if c.object.ordem == 1 %>
      <!-- <% label = 'Atividade Secundária' if c.object.ordem == 2 %> -->
      <!-- <% label = 'Atividade Terciária'  if c.object.ordem == 3 %> -->
      <%= c.label :atividade_id, label, :class => 'control-label' %>
      <div class="controls">
        <%= c.select( :atividade_id, @atividades.collect { |l| [l.nome, l.id] }, {:include_blank => 'Selecione'}  ) %>
        <%= c.hidden_field :ordem, :value => c.object.ordem %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="control-group">
  <%= f.label :nome, 'Nome', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :nome, :class => 'span6', :size => '64', :maxlength => '254' %>
    <br/>
  </div>
</div>

<div class="control-group">
  <%= f.label :descricao, 'Descrição', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :descricao, :class => 'span8', :cols => 32, :rows => 4, :maxlength => '1024' %>
    <div class="tip">
      Descrição Resumida do Registro
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, 'E-Mail', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :email, :class => 'span5', :size => '64', :maxlength => '254' %>
    <div class="tip">
      Apenas um E-Mail Válido que represente o Registro
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :contato, 'Telefone', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :contato, :class => 'span6', :size => '64', :maxlength => '254' %>
    <div class="tip">
      Telefone, Celular, Fax, Rádio e/ou Outros. Ex.: (61) 8000-9000
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :cep, 'CEP', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :cep, :class => 'span2', :id => 'cep', :size => '8', :maxlength => '8' %>
    <div class="tip">
      Sem Traços ou Pontos. Ex.: 41800001, 79810001 e etc. A localização inicial no Mapa será baseado no CEP.
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :logradouro, 'Logradouro', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :logradouro, :class => 'span6', :id => 'logradouro', :size => '64', :maxlength => '254' %>
    <div class="tip">
      Apenas Rua, Avenida, Travessa e Outros Ex.: Rua Sete de Setembro; Avenida Getúlio Vargas e etc.
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :complemento, 'Complemento', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :complemento, :class => 'span4', :size => '64', :maxlength => '254' %>
    <div class="tip">
      Bairro, Número, Número de Sala, Apartamento e Indicações em Geral
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :estado, 'Estado', :class => 'control-label' %>
  <div class="controls">
    <%= f.collection_select :estado, Estado.all, :sigla, :nome, {:prompt => true}, :id => 'estado' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cidade, 'Cidade', :class => 'control-label' %>
  <div class="controls">
  <% if params[:action] == 'edit' || params[:action] == 'create' || params[:action] == 'update' %>
    <% cidades = Cidade.joins(:estado).where("estados.sigla LIKE ?", @entidade_equipamento.estado) %>
    <%= f.collection_select :cidade, cidades, :nome, :nome, { :selected => @entidade_equipamento.cidade.to_s }, :id => 'cidade' %>
  <% else %>
    <select id="cidade" name="entidade_equipamento[cidade]" type="text"/></select>
  <% end %>
  </div>
</div>

<div class="control-group">
  <%= f.label :politica_publica, 'Política Pública', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :politica_publica, :class => 'span6', :size => '64', :maxlength => '254' %>
    <br/>
  </div>
</div>

<div class="control-group">
  <%= f.label :tipo_atendimento, 'Tipo de Atendimento', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :tipo_atendimento, :class => 'span6', :size => '64', :maxlength => '254' %>
    <br/>
  </div>
</div>

<div class="control-group">
  <%= f.label :dias_atendimento, 'Dias da Semana', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :dias_atendimento, :class => 'span6', :size => '64', :maxlength => '254' %>
    <br/>
  </div>
</div>

<div class="control-group">
  <%= f.label :horario_atendimento, 'Horário de Atendimento', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :horario_atendimento, :class => 'span6', :size => '64', :maxlength => '254' %>
    <br/>
  </div>
</div>

<div class="control-group">
  <%= f.label :clientela, 'Clientela', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :clientela, :class => 'span6', :size => '64', :maxlength => '254' %>
    <br/>
  </div>
</div>

<div class="control-group">
  <%= f.label :area_abrangencia, 'Área de Abrangência', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :area_abrangencia, :class => 'span6', :size => '64', :maxlength => '254' %>
    <br/>
  </div>
</div>

<div class="control-group">
  <%= f.label :dia_primeiro_atendimento, '1º Atendimento nos seguintes dias e horários', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :dia_primeiro_atendimento, :class => 'span6', :size => '64', :maxlength => '254' %>
    <br/>
  </div>
</div>

<div class="control-group">
  <%= f.label :documentacao_primeiro_atendimento, 'Documentação necessária para o 1º Atendimento', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :documentacao_primeiro_atendimento, :class => 'span6', :size => '64', :maxlength => '254' %>
    <br/>
  </div>
</div>

<div class="control-group">
  <%= f.label :pagamento, 'Pagamento', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :pagamento, :class => 'span6', :size => '64', :maxlength => '254' %>
    <br/>
  </div>
</div>

<div class="control-group">
  <%= f.label :imagem, 'Imagem', :class => 'control-label' %>
  <div class="controls">
    <%= f.file_field :imagem %>
    <div class="tip">
      Uma Imagem que representa o Registro
    </div>
  </div>
</div>

<% if params[:action] == 'edit' %>
<div class="control-group">
  <%= f.label :mapa, 'Mapa', :class => 'control-label' %>
  <div class="controls">
    <div id="mapHelper" class="smallmap"></div>
    <div class="tip">
      Selecione o Ponto no Mapa e Confira a Longitude e Latitude.
    </div>
  </div>
</div>
<br/>

<div class="control-group">
  <%= f.label :latitude, 'Latitude', :class => 'control-label' %>
  <div class="controls">
      <%= f.text_field :latitude, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :longitude, 'Longitude', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :longitude, :class => 'text_field' %>
  </div>
</div>
<% end %>

<% if current_user.admin? %>
<div class="control-group">
  <%= f.label :publicar, 'Publicar', :class => 'control-label' %>
  <div class="controls">
    <%= f.select :publicar, 'Sim' => true, 'Não' => false %>
  </div>
</div>
<% end %>

<% if params[:action] == 'new' || params[:action] == 'create' %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
<% end %>

<div class="form-actions">
  <%= f.submit 'Registrar', :class => 'btn btn-primary', :disable_with => 'Enviando...' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), entidade_equipamentos_path, :class => 'btn' %>
</div>
<% end %>
