<ul class="nav nav-tabs">
  <li>
    <%= link_to "Todos", entidade_equipamentos_path %>
  </li>
  <!--
  <li>
    <%= link_to "Avaliar", evaluate_entidade_equipamentos_path if current_user.admin? %>
  </li>
  -->
  <li>
    <%= link_to "Cadastrar", new_entidade_equipamento_path %>
  </li>
  <li class="active">
    <%= link_to "Editando " + @entidade_equipamento.nome %>
  </li>
</ul>

<div class="tab-content">
  <div class="active tab-pane">
    <%= render :partial => 'form' %>
  </div>
</div>
