<ul class="nav nav-tabs">
  <li>
    <%= link_to "Todos", entidade_equipamentos_path %>
  </li>
  <li class="active">
    <%= link_to "Avaliar", evaluate_entidade_equipamentos_path if current_user.admin? %>
  </li>
  <li>
    <%= link_to "Cadastrar", new_entidade_equipamento_path %>
  </li>
</ul>

<div class="tab-content">
  <div class="active tab-pane">
    <% if @entidade_equipamentos.empty? %>
      <h3 style="text-align: center;">
        Nenhum Registro Encontrado.
        <br/>
        <%= link_to "Adicionar Novo Registro?", new_entidade_equipamento_path %>
      </h3>
    <% else %>

    <div class="search">
      <%= form_tag search_entidade_equipamentos_path, :method => :get do %>
      <p>
        <%= text_field_tag :query, params[:query], :class => 'span8' %>
        <%= submit_tag t('Search'), :style => "float: right;", :class => 'btn btn-primary' %>
      </p>
      <% end %>
    </div>

    <%= paginate @entidade_equipamentos, :window => 8 %>

    <br/>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Estado</th>
          <th>Atividade</th>
          <th>Fotos</th>
          <th>Vídeos</th>
          <th>Publicado</th>
          <th><%= t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>

      <tbody>
        <% @entidade_equipamentos.each do |entidade_equipamento| %>
        <tr>
          <td><%= link_to entidade_equipamento.id, entidade_equipamento_path(entidade_equipamento)   %></td>
          <td><%= link_to entidade_equipamento.nome, entidade_equipamento_path(entidade_equipamento) %></td>
          <td><%= entidade_equipamento.estado %></td>
          <% if entidade_equipamento.tipo_id == 2 %>
            <td>
              <% if entidade_equipamento.tipo_equipamento.try(:imagem) %>
                <%= image_tag entidade_equipamento.tipo_equipamento.imagem.url %>
              <% else %>
                Não Informado
              <% end %>
            </td>
          <% else %>
            <% 
              if ! entidade_equipamento.entidade_equipamento_atividades[0].nil?
                if entidade_equipamento.entidade_equipamento_atividades[0].ordem == 1
                  ordem = 0
                end
              end
              if ! entidade_equipamento.entidade_equipamento_atividades[1].nil?
                if entidade_equipamento.entidade_equipamento_atividades[1].ordem == 1
                  ordem = 1
                end
              end
              if ! entidade_equipamento.entidade_equipamento_atividades[2].nil?
                if entidade_equipamento.entidade_equipamento_atividades[2].ordem == 1
                  ordem = 2
                end
              end
            %>
            <td>
              <% if entidade_equipamento.entidade_equipamento_atividades[ordem].atividade.try(:imagem) %>
                <%= image_tag entidade_equipamento.entidade_equipamento_atividades[ordem].atividade.imagem.url, :title => entidade_equipamento.entidade_equipamento_atividades[ordem].atividade.nome if ! entidade_equipamento.entidade_equipamento_atividades[ordem].atividade.nil? %>
              <% else %>
                Não Informado
              <% end %>
            </td>
          <% end %>
          <td><%= entidade_equipamento.fotos.size %></td>
          <td><%= entidade_equipamento.videos.size %></td>
          <td><strong><%= I18n.t(entidade_equipamento.publicar.to_s) %></strong></td>
          <td>
          <% if user_signed_in? %>
            <% if  (current_user.admin?) %>
              <%= link_to t('.publish', :default => t("helpers.links.publish")), publish_entidade_equipamentos_path(entidade_equipamento), :class => 'btn btn-mini btn-primary' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_entidade_equipamento_path(entidade_equipamento), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")), entidade_equipamento_path(entidade_equipamento), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-mini btn-danger' %> </td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
