<div class="page-header">
  <h3><%= @entidade_equipamento.nome %></h3>

  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to "Dados Gerais", entidade_equipamento_path(@entidade_equipamento) %>
    </li>
    <!--
    <li>
      <%= link_to "Apresentação (Vídeo)", apresenta_entidade_equipamentos_path(@entidade_equipamento) %>
    </li>
    <li>
      <%= link_to "Fotos", entidade_equipamento_fotos_path(@entidade_equipamento) %>
    </li>
    <li>
      <%= link_to "Vídeos", entidade_equipamento_videos_path(@entidade_equipamento) %>
    </li>
    <% if @entidade_equipamento.tipo_id != 2 %>
      <li>
        <%= link_to "Saiba Mais", entidade_equipamento_questionario_basico_entidades_path(@entidade_equipamento) %>
      </li>
    <% end %>
    -->
  </ul>

  <div class="tab-content">
    <div class="active tab-pane">
      <% if user_signed_in? %>
        <% if (current_user.id == @entidade_equipamento.user_id || current_user.admin?) %>
          <%= link_to t('.back', :default => t("helpers.links.back")), entidade_equipamentos_path, :class => 'btn'  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_entidade_equipamento_path(@entidade_equipamento), :class => 'btn' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), entidade_equipamento_path(@entidade_equipamento), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' %>
        <% end %>
      <% end %>

      <div class="info">
        <div class="info-details">
          <dl class="dl-horizontal">
            <% if ! @entidade_equipamento.tipo_natureza.nil? %>
              <dt>
                <strong>Natureza:</strong>
              </dt>
              <dd>
                <%= @entidade_equipamento.tipo_natureza.nome if @entidade_equipamento.tipo_natureza.nome.size > 1 %>&nbsp;
              </dd>
              <br/>
            <% end %>
            <% if @entidade_equipamento.tipo_id == 2 %>
              <dt>
                <strong>Tipo de Equipamento:</strong>
              </dt>
              <dd>
                <%= @entidade_equipamento.tipo_equipamento.nome if @entidade_equipamento.tipo_equipamento.try(:nome) %>&nbsp;
              </dd>
              <br/>
            <% else %>
              <% @entidade_equipamento.entidade_equipamento_atividades.each do |entidade_equipamento_atividade| %>
                <% label = 'Principal'  if entidade_equipamento_atividade.ordem == 1 %>
                <% label = 'Secundária' if entidade_equipamento_atividade.ordem == 2 %>
                <% label = 'Terciária'  if entidade_equipamento_atividade.ordem == 3 %>
                <dt>
                  <strong>Categoria:</strong>
                </dt>
                <dd>
                  <%= entidade_equipamento_atividade.atividade.nome if ! entidade_equipamento_atividade.atividade.nil?  %>&nbsp;
                </dd>
              <% end %>
            <% end %>

            <dt>
              <strong>Descrição:</strong>
            </dt>
            <dd>
              <%= @entidade_equipamento.descricao %>&nbsp;
            </dd>
            <br/>

            <% if ! @entidade_equipamento.horario.nil? %>
              <% if @entidade_equipamento.horario.size > 1 %>
                <dt>
                  <strong>Horário de Funcionamento:</strong>
                </dt>
                <dd>
                  <%= @entidade_equipamento.horario %>&nbsp;
                </dd>
                <br/>
              <% end %>
            <% end %>

            <dt>
              <strong>E-Mail:</strong>
            </dt>
            <dd>
              <%= @entidade_equipamento.email %>&nbsp;
            </dd>
            <dt>
              <strong>Contato:</strong>
            </dt>
            <dd>
              <%= @entidade_equipamento.contato %>&nbsp;
            </dd>
            <dt>
              <strong>Site:</strong>
            </dt>
            <dd>
              <%
                site = @entidade_equipamento.site
                site.sub!(/https\:\/\//, '') if site.include? "https://"
                site.sub!(/http\:\/\//, '') if site.include? "http://"
              %>
              <%= link_to @entidade_equipamento.site, "http://#{site}", :target => "_blank" %>&nbsp;
            </dd>
            <dt>
              <strong>Logradouro:</strong>
            </dt>
            <dd>
              <%= @entidade_equipamento.logradouro %>&nbsp;
            </dd>
            <dt>
              <strong>Cidade:</strong>
            </dt>
            <dd>
              <%= @entidade_equipamento.cidade %>&nbsp;
            </dd>
            <dt>
              <strong>Estado:</strong>
            </dt>
            <dd>
              <%= @entidade_equipamento.estado %>&nbsp;
            </dd>
            <dt>
              <strong>CEP:</strong>
            </dt>
            <dd>
              <%= @entidade_equipamento.cep %>&nbsp;
            </dd>
            <dt>
              <strong>Latitude:</strong>
            </dt>
            <dd>
              <%= @entidade_equipamento.latitude %>&nbsp;
            </dd>
            <dt>
              <strong>Longitude:</strong>
            </dt>
            <dd>
              <%= @entidade_equipamento.longitude %>&nbsp;
            </dd>
            <dt>
              <strong>Responsável Dados:</strong>
            </dt>
            <dd>
              <%= @entidade_equipamento.user.firstname + ' ' + @entidade_equipamento.user.lastname %>&nbsp;
            </dd>
            <dt>
              <strong>Publicado:</strong>
            </dt>
            <dd>
              <%= I18n.t(@entidade_equipamento.publicar.to_s) %>&nbsp;
            </dd>
            <br/>
            <dt>
              <strong>Localização no Mapa:</strong>
            </dt>
            <dd>
              <%= gmaps("markers" => {"data" => @map}, "map_options" =>  { :provider => "openlayers" }) %>
            </dd>
          </dl>
        </div>
        <!--
        <div class="info-image">
          <%= image_tag @entidade_equipamento.imagem.url(:thumb) %>
        </div>
        -->
      </div>
    </div>
  </div>
