<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Todos", subcategorias_path %>
  </li>
  <li>
    <%= link_to "Cadastrar", new_subcategoria_path %>
  </li>
</ul>

<div class="tab-content">
  <div class="active tab-pane">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th><%= t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>

      <tbody>
        <% @subcategorias.each do |subcategoria| %>
        <tr>
          <td><%= link_to subcategoria.id, subcategoria_path(subcategoria) %></td>
          <td><%= subcategoria.nome %></td>
          <td><%= subcategoria.descricao %></td>
          <td> <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_subcategoria_path(subcategoria), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), subcategoria_path(subcategoria), :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) },
          :class => 'btn btn-mini btn-danger' %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
