<ul class="nav nav-tabs">
  <li>
    <%= link_to "Todos", subcategorias_path %>
  </li>
  <li>
    <%= link_to "Cadastrar", new_subcategoria_path %>
  </li>
  <li class="active">
    <%= link_to @subcategoria.nome %>
  </li>
</ul>

<div class="tab-content">
  <div class="active tab-pane">
    <dl class="dl-horizontal">
      <dt>
        <strong>Nome:</strong>
      </dt>
      <dd>
        <%= @subcategoria.nome %>&nbsp;
      </dd>
      <dt>
        <strong>Descrição:</strong>
      </dt>
      <dd>
        <%= @subcategoria.descricao %>&nbsp;
      </dd>

    <% if user_signed_in? %>
    <% if current_user.admin? %>
    <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")), subcategorias_path, :class => 'btn'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_subcategoria_path(@subcategoria), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")), subcategoria_path(@subcategoria), :method => 'delete',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) },
      :class => 'btn btn-danger' %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
