
  <hr/>
  <footer>
    <strong><a href="http://nesp.unb.br/obsam" target="_blank">Observatório de Políticas de Atenção à Saúde Mental</a> - Licenciado sobre a <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a></strong>
    <strong>Baseado no <a href="http://mapadacultura.org" target="_blank" alt="Mapa da Cultura">Mapa da Cultura</a></strong>
  </footer>
  <br/>
