
  <ul class="nav"> <!-- nav -->
    <li class="dropdown">
      <a id="entidade-drop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" data-content="Registros" data-placement="right">
        <%= image_tag("Yellow-Option.png", :alt => "Registros") %>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="entidade-drop">
        <li>
          <a tabindex="-1" href="<%= entidade_equipamentos_path %>">Listar</a>
        </li>
        <li>
          <a tabindex="-1" href="<%= new_entidade_equipamento_path %>">Cadastrar</a>
        </li>
      </ul>
    </li>

    <% if user_signed_in? %>
      <li>
        <li class="dropdown">
          <a id="configurar-drop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" data-content="Administração" data-placement="right">
            <%= image_tag("Purple-Option.png", :alt => "Administração") %>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="configurar-drop">
              <li>
                <a tabindex="-1" href="<%= edit_user_registration_path %>">Alterar Senha</a>
              </li>
              <% if current_user.admin? %>
              <li>
                <a tabindex="-1" href="<%= atividades_path %>">Categorias</a>
              </li>
              <li>
                <a tabindex="-1" href="<%= subcategorias_path %>">Subcategorias</a>
              </li>
              <li>
                <a tabindex="-1" href="<%= users_path %>">Usuários</a>
              </li>
              <% end %>
          </ul>
        </li>
      </li>

    <li class="login" id="logout">
      <%= link_to image_tag("Red-Option.png", :alt => "Deslogar", :title => "Deslogar") + " (Logout)", destroy_user_session_path, :method => :delete %>
    </li>

    <% else %>
      <li class="login" id="login">
        <%= link_to image_tag("Red-Option.png", :alt => "Logar"), new_user_session_path, :id => 'popover-login', 'data-content' => 'Logar no Mapa da Cultura', 'data-placement' => 'bottom' %>
      </li>
    <% end %>
  </ul> <!-- nav -->
